@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gitlab {
  color: #FCA326;
  font-weight: bold;
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  margin: 0;
  max-width: 3000px;
  flex-direction: column;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 50px;
}
